@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500&display=swap');

body {
    margin: 0;
    height: 100vh;
    background: url(../images/bg-pattern-bottom.svg) bottom -600px right -150px no-repeat, url(../images/bg-pattern-top.svg) top -500px left -200px no-repeat;
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
}

body,
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    max-width: 19rem;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

.name,
li {
    color: hsl(229, 23%, 23%);
    font-weight: bold;

}

span {
    color: hsl(0, 0%, 59%);
    font-weight: normal;
}

.photo {
    border-radius: 50%;
    border: 5px solid white;
    transform: translateY(-50%);

}

.name {
    margin-top: -50px;
}

.name span {
    margin-left: 10px;
}

.country {
    margin-top: -10px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: hsl(0, 0%, 80%);
}

ul {
    padding: 0;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

footer {
    position: absolute;
    bottom: 0;
}

footer p {
    margin: 3px;
    font-weight: bold;
    color: hsl(218, 44%, 22%);
}

footer p a {
    color: hsl(217, 100%, 42%);
}